body {
  background-color: #132218;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wedding-photos {
  margin: 0 auto;
}

.wedding-photo, .wedding-photo-bookend {
  background: linear-gradient(130deg, #29302c, #363d39, #29302c);
  background-size: 200% 200%;
  border: 10px solid white;
  cursor: pointer;
  margin-bottom: 10px;
  animation: loadingColors 5s infinite;
}

.wedding-photo {
  width: 600px;
}

.wedding-photo-bookend {
  width: 1210px;
}

@media only screen and (max-width: 700px) {
  .wedding-photo {
    width: 300px;
  }

  .wedding-photo-bookend {
    width: 610px;
  }
}

.selected-photo {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
}

.selected-photo-img {
  max-height: calc(100% - 50px);
  max-width: calc(100% - 50px);
  min-height: 300px;
  min-width: 300px;
  background: linear-gradient(130deg, #29302c, #363d39, #29302c);
  background-size: 200% 200%;
  border: 10px solid white;
  cursor: default;
  animation: loadingColors 5s infinite;
}

.close-icon {
  height: 40px;
  width: 40px;
  align-items: center;
  align-self: flex-start;
  background-color: white;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  justify-content: center;
  position: relative;
  top: 25px;
  left: 5px;
}

@keyframes loadingColors {
  0%{background-position: 0% 0%}
  50%{background-position: 100% 100%}
  100%{background-position: 0% 0%}
}