body {
  background-color: #132218;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wedding-photos {
  margin: 0 auto;
}

.wedding-photo, .wedding-photo-bookend {
  background: linear-gradient(130deg, #29302c, #363d39, #29302c);
  background-size: 200% 200%;
  border: 10px solid white;
  margin-bottom: 10px;
  animation: loadingColors 5s infinite;
}

.wedding-photo {
  width: 600px;
}

.wedding-photo-bookend {
  width: 1210px;
}

@media only screen and (max-width: 700px) {
  .wedding-photo {
    width: 300px;
  }

  .wedding-photo-bookend {
    width: 610px;
  }
}


@keyframes loadingColors {
  0%{background-position: 0% 0%}
  50%{background-position: 100% 100%}
  100%{background-position: 0% 0%}
}
